[submodule "third_party/mmdetection"]
	path = third_party/mmdetection
	url = https://github.com/avstack-lab/mmdetection.git
[submodule "third_party/mmdetection3d"]
	path = third_party/mmdetection3d
	url = https://github.com/avstack-lab/mmdetection3d.git
[submodule "third_party/mmsegmentation"]
	path = third_party/mmsegmentation
	url = https://github.com/avstack-lab/mmsegmentation.git
[submodule "third_party/mmdeploy"]
	path = third_party/mmdeploy
	url = https://github.com/avstack-lab/mmdeploy.git
