[submodule "third_party/lanenet"]
	path = third_party/lanenet
	url = https://github.com/MaybeShewill-CV/lanenet-lane-detection.git
[submodule "third_party/mmdetection"]
	path = third_party/mmdetection
	url = https://github.com/avstack-lab/mmdetection.git
[submodule "third_party/mmdetection3d"]
	path = third_party/mmdetection3d
	url = https://github.com/avstack-lab/mmdetection3d.git
[submodule "third_party/ad-rss-lib"]
	path = third_party/ad-rss-lib
	url = https://github.com/avstack-lab/ad-rss-lib.git
[submodule "third_party/mmsegmentation"]
	path = third_party/mmsegmentation
	url = https://github.com/avstack-lab/mmsegmentation.git
[submodule "third_party/MiDaS"]
	path = third_party/MiDaS
	url = https://github.com/avstack-lab/MiDaS.git
